<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a routerLink="">Alexa Player</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a routerLink="">Queue</a>
        </li>
        <li>
          <a routerLink="search">Search</a>
        </li>
        <!--<li>
          <a onclick="javascript: (function () { for (let el of document.querySelectorAll('body *')) { el.style.transition = 'transform 3s'; el.style.transform = 'rotate(' + (Math.floor(Math.random() * 40) - 20) + 'deg)'; } })();"></a>
        </li>-->
      </ul>
    </nav>
  </div>
</section>